
.product-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 50%
}

.image-container {
    width: 50%;
}

.product-details {
    width: 50%;
}

.bundle-container {
    justify-content: space-around;
    background-color: red;
}

#easter-egg {
    font-size: 2px;
}

#easter-egg:hover {
font-size: 72px;
}